.contenedor {
    top: 100px;
    position: relative;
    height: 200px;
    width: 700px;
}

.elemento1 {
    position: absolute;
    left: 270px;
    top: 30px;
    height: 100px;
    width: 200px;
    margin: 20px;
    z-index: 15;
    background-color: red;
}

.elemento2 {
    position: absolute;
    left: 230px;
    top: 80px;
    height: 100px;
    width: 200px;
    margin: 20px;
    z-index: 5;
    background-color: yellow;
}

.elemento3 {
    position: absolute;
    left: 200px;
    height: 100px;
    width: 200px;
    margin: 20px;
    border-radius: 50%;
    z-index: 10;
    background-color: green;
}

h2 {
    text-decoration: underline;
    font-size: 35px;
    font-weight: 900;
    font-style: italic;
}