table {
    width: 50%;
}

table, tr, td, th {
    border: 2px solid black;
    border-collapse: collapse;
    padding: 5px;
    text-align: center;
}

th {
    border-bottom-color: white;
    background-color: darkgreen;
    color: white;
    text-align: center;
}

tr:nth-child(even) {
    background-color: rgba(46, 139, 86, 0.596);
}

tr:nth-child(odd) {
    background-color: rgba(128, 128, 128, 0.479);
}

tr:hover {
    background-color: rgb(209, 105, 105);
}

caption {
    caption-side: bottom;
}